.signup-page{
    width: 100%;
    display: flex;
    justify-content: center;
}

.signup-form{
    align-self: center;
    border: 1px solid #000;
    margin-top: 8px;
    border-radius: 8px;
    width: 30%;
    padding: 10px;
}

.signup-heading{
    font-family: roboto;
    font-size: 28px;
    color: #000;
    align-self: center;
    text-decoration: underline;
}

.label{
    font-family: roboto;
}

.input-container{
    margin-bottom: 12px;
}

.signup-btn{
    align-self: center;
}